.AboutCard {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.AboutCard__img {
  width: clamp(80px, 10vw, 150px);
  margin-bottom: -20px;
}
.AboutCard__text {
  max-width: 200px;
  color: var(--InversText);
  text-align: center;
  font-size: clamp(20px, 4vw, 26px);
  font-weight: 400;
  line-height: 111.538%;
}

@media (min-width: 768px) {
  .AboutCard__img {
    margin-bottom: 0;
  }
}
@media (min-width: 1236px) {
  .AboutCard__img {
    margin-bottom: 18px;
  }
}