@import url('https://fonts.googleapis.com/css2?family=Mulish:wght@400;700;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cormorant:wght@400;700&display=swap');

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font-family: Mulish;
}

:root {
  --MainButtonColor: #AF9678;
  --HoverButton: #6d6153;
  --HoverLink: rgb(207, 242, 194);
  --LogoColor: #C0AD95;
  --MainText: #fff;
  --MainBg:  #fff;
  --InversText: #11100E;
  --UsualText: #937A60;
  --AlarmColor: #E52B2B;
  --UnusualBg: #161513;
  --ErrorColor: #F86464;
  --ErrorBg: #FBE9E9;
  --ErrorText: #f33b3b63;

  /* steps to get blur */
  --BlurColor: rgba(53, 53, 53, 0.24); /* background: */
  --BlurFilter: blur(16px); /* backdrop-filter: */
  /* ******************* */
}

/* CONTAINERS */
.container {
  margin: 0 auto;
  padding: 0 clamp(16px, 7.66vw, 110px);
}
.container_h {
  margin: 0 auto;
  padding: 0 clamp(16px, 5vw, 60px) 0 clamp(16px, 7.66vw, 110px);
}
@media (max-width: 520px) {
  .container, .container_h {
    padding: 0 16px;
  }
}


/* MAIN */
html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}
a {
  color: inherit;
  text-decoration: none;
}
li {
  list-style: none;
}
h1 {
  color: var(--MainText);
  font-family: Cormorant;
  font-size: clamp(35px, 10vw, 70px);
  font-weight: 400;
  line-height: 40%;
}
.section__title {
  color: var(--UsualText);
  font-family: Cormorant;
  font-size: clamp(39px, 10vw, 68px);
  font-weight: 400;
  line-height: 108.974%;
}



/* HOVERS */
button, input[type="submit"] {
  transition: background .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
button:hover, input[type="submit"]:hover {
  background: var(--HoverButton) !important;
}
a, a svg path {
  transition: color .3s cubic-bezier(0.165, 0.84, 0.44, 1);
  transition: fill .3s cubic-bezier(0.165, 0.84, 0.44, 1);
}
a:hover, a:hover > svg path {
  color: var(--HoverLink);
  fill: #11100E;
}

/* SLIDERS DISABLED BUTTON */
.swiper-button-disabled path {
  fill: rgba(0, 0, 0, 0.256)
}

/* HIDE/SHOW/DISABLED CARDS AND BTN */
.hideCardsMore {
  display: none;
}
.disabled {
  display: none !important;
}
.more {
  display: block;
  margin: 0 auto;
  padding: 0 20px;
  border: none;
  background: none;
  border-bottom: 2px solid var(--UsualText);
  color: var(--UsualText);
  font-size: 30px;
  font-weight: 400;
  line-height: 93.333%;
  cursor: pointer;
}

/* FORMS */
.form__submit {
  cursor: pointer;
  border: none;
  border-radius: 8px;
  width: 209px;
  padding: 13px 0;
  color: var(--MainText);
  font-size: clamp(19px, 4vw, 26px);
  font-weight: 400;
  line-height: 28px;
  background: var(--MainButtonColor) ;
}
@media (min-width: 560px) {
  .form__submit {
    width: 260px
  }
}
