.comments  {
  position: relative;
  padding: 102px 0;
}

.comments h2 {
  margin-bottom: 33px;
}

.comments__nickname {
  margin-bottom: 24px;
  color: var(--InversText);
  font-size: clamp(22px, 4vw, 37px);
  font-weight: 400;
  line-height: 127.273%; 
}

.comments__text {
  margin-bottom: 40px;
  color: var(--InversText);
  font-size: clamp(19px, 4vw, 30px);
  font-weight: 400;
  line-height: 29px;
}

.comments__btn_1, .comments__btn_2 {
  display: none;
  top: 55%;
  border: none;
  background: inherit;
  position: absolute;
  z-index: 999;
}

@media (min-width: 769px) {
  .comments__btn_1, .comments__btn_2 {
    display: block;
  }
  .comments__btn_1 {
    left: -40px;
  }
  .comments__btn_2 {
    right: -40px;
  }
}

@media (min-width: 992px) {
  .comments  {
    padding: 148px 0;
  }
  .comments__nickname {
    margin-bottom: 59px; 
  }
  .comments__btn_1 {
    left: -60px;
  }
  .comments__btn_2 {
    right: -60px;
  }
}

@media (min-width: 1120px) {
  .comments__btn_1 {
    left: -76px;
  }
  .comments__btn_2 {
    right: -76px;
  }
}